<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%></title>
</head>
<body>
    <h1 style="text-align: center;">TO DO app</h1>
    <div>
        <form action="">
            <label for="description">DESCRIPTION</label>
            <textarea name="task_description" id="description" cols="30" rows=10">

            </textarea>
            <br>
            <label for="category">CATEGORY</label>
            <select name="category" id="category">
                <option value="personal">Personal</option>
                <option value="Work">Work</option>
                <option value="School">School</option>
                <option value="cleaning">Cleaning</option>
                <option value="other">Other</option>
            </select>
            <br>
            <label for="date">DUE DATE</label>
            <input type="date" name ="date"  id="date">
            <br>
            <button type="submit">ADD TASK</button>
            <button type="submit">DELETE TASK</button>
        </form>

        <!-- presenting tast on screen -->
        
    </div>
</body>
</html>